<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Abstracto</title>
</head>

<body>

  <header class="header">
    <div class="encabezado">
      <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
      <h1 class="title">Digital Arts</h1>
    </div>
    <br><br>
    <nav class="menu">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>
      </ul>
    </nav>
  </header>
  <br><br>
  <main>
    <br>
    <hr>
    <br>
    <div>
      <h2 id="AA">Arte Abstracto</h2>
      <br><br>
      <p id="AA">Llamamos arte abstracto a un estilo de la expresión de las artes plásticas (pintura y escultura)
        principalmente, que en lugar de representar figuras concretas y reconocibles del mundo real (como hace el arte
        figurativo), propone una realidad distinta a través de un lenguaje propio e independiente de formas, colores y
        líneas El arte abstracto es una forma de expresión de sentimientos artísticos que prescinde de toda figuración y
        propone una nueva realidad distinta a la natural. Usa un lenguaje visual de forma, color y línea para crear una
        composición que puede existir con independencia de referencias visuales del mundo real.
      </p>
      <br><br><br>
      <img class="imgAA" src="../assets/img/fantasy-2964231_1280.jpg" align="left" alt="ArteAbs" />
      <br><br><br><br>
      <p id="AA">Por un lado al arte abstracto puede ser expresivo el cual se considera subjetivo y espontáneo,
        improvisado a veces, donde el protagonismo es de la expresividad del artista, que prescinde de estructura y se
        vuelca en el gesto, el material y el sentimiento que provoca la obra. Es por tanto altamente ambigüo e
        interpretable</p>
      <br><br><br><br>

      <img class="imgAA" src="../assets/img/mosaic-3394375_1280.jpg" align="right" alt="ArteAbs" />
      <br><br><br><br>
      <p id="AA">Por otro lado el arte abstracto se puede considerar geométrico el cual pretende ser objetivo y
        universal,
        planificado, en la que la composición es estructurada y que evita toda expresividad mediante el uso de la
        geometría. Suele defender una factura impersonal y pretende evocar claridad y precisión.</p>
      <br><br><br><br>

      <img class="imgAA" src="../assets/img/deer-3275594_1280.jpg" align="left" alt="ArteAbs" />
      <br><br><br><br>
      <p id="AA">El arte abstracto rompió con la necesidad de representar objetos concretos, dando cabida a los
        pensamientos y las nociones mentales más difusas.Las obras abstractas exigen del espectador que se aproxime a
        ellas de modo intuitivo, menos tradicional.</p>
      <br><br><br><br>

      <img class="imgAA" src="../assets/img/fruit-4415864_1280.jpg" align="right" alt="ArteAbs" />
      <br><br><br><br>
      <p id="AA">Las esculturas abstractas se apoyan en el principio de la tridimensionalidad y en la geometría, a veces
        dándole protagonismo al color y ademas las pinturas abstractas proponen un lenguaje propio de forma, color y
        línea cuyas reglas pertenecen al artista.</p>
    </div>
  </main>
  <footer class="footer">
    <section>
      <div class="redes">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-sharp fa-solid fa-at"></i></a>
      </div>
    </section>
  </footer>

</body>

</html>