<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Digital</title>
</head>
<body>
    <header>
        <h1>Digital Arts</h1>
        <nav id="menu">
            <ul>
                <li><a href="./abstracto.html">Arte Abstracto</a></li>
                <li><a href="./artePop.html">Arte Pop</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
                <li><a href="./realismo.html">Realismo</a></li>
                <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
                <li><a href="./quienesSomos.html">Quienes Somos</a></li>
                <li><a href="./subasta.html">Subasta</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h2>Arte Digital</h2>
            <p>En la era moderna en la que vivimos ahora, se nos permite hacer arte y pinturas digitales,
                en estos se pueden utilizar todo tipo de colores, texturas, diferentes pinceles ... Los artistas digitales pueden crear pinturas al limite de su imaginacion y tienen grandes oportunidades 
                de ecplorar su creatividad. 
            </p>
        </div>
    </main>
    <footer>

    </footer>
    
</body>
</html>