<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Digital</title>
</head>
<body>
    <header>
        <h1>Digital Arts</h1>
        <nav id="menu">
            <ul>
                <li><a href="./abstracto.html">Arte Abstracto</a></li>
                <li><a href="./artePop.html">Arte Pop</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
                <li><a href="./realismo.html">Realismo</a></li>
                <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
                <li><a href="./quienesSomos.html">Quienes Somos</a></li>
                <li><a href="./subasta.html">Subasta</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>