<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <title>Digital</title>
</head>

<body>
  <header>
    <section>
      <div class="ini">
        <a href="./registrar.html" class="entrada">Registrate</a>
        <a href="./inicioSecion.html" class="entrada">Inicio Sesión</a>
      </div>
    </section>
    <div class="encabezado">
      <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
      <h1 class="title">Digital Arts</h1>
    </div> 
    <nav class="menu">
      <ul>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>
      </ul>
    </nav>
  </header>
  <br><br><br><br><br>
  <main> <br>
    <hr><br>
    <div>
      <h2>Arte Digital</h2>

    </div>
    <br><br><br><br>
    <div class="slider">
      <ul>
        <li><img src="../assets/img/Paisaje_a mano.jpg" alt="Paisaje"></li>
        <li><img src="../assets/img/Pintura a mano_negro.png" alt="Pintura a mano"></li>
        <li><img src="../assets/img/Pinturas_en_azul.jpg" alt="Pintura azul a mano"></li>
        <li><img src="../assets/img/uno.jpg" alt="Pintura uno"></li>
      </ul>
    </div>

    <br><br>
    <p id="AP">Desde finales del siglo XX las tecnologías de la imagen han conocido una transformación tan radical como los cambios que se dieron tras los debates fotográficos de finales de la década de 1920 y principios de la de 1930, o por el pop entre las décadas de 1950 y 1960. De ser entendida como un mensaje sin código, una plasmación directa de la realidad, a contemplarla como algo atravesado por complicados códigos de diversos tipos, matizando su presunta referencialidad y revisando sus posibles aplicaciones en arte. Con la manipulación digital, sea de imágenes tomadas con una cámara digital o por la digitalización de imágenes o negativos fotográficos escaneados, se ajustan las proporciones, se corrige la perspectiva y se cambia el color, sintetizando imágenes novedosas. El montaje, que antes se evidenciaba, se vuelve oculto, intrínseco a la imagen misma.
    <br><br><br>
    <img class="imgAP" src="../assets/img/Paisaje_a mano.jpg" align="left" alt="ArteDigital" />
    <br><br><br>
    <p id="AP">Las técnicas del arte digital aplicadas en la edición electrónica han tenido un impacto enorme en el mundo editorial, a pesar de estar más relacionadas con el diseño gráfico. Es posible que la aceptación general del valor del arte digital se desarrolle de manera muy similar a la aceptación de la música electrónica producida desde las últimas tres décadas del siglo XX.</p>
    <br><br><br>

    <img class="imgAP" src="../assets/img/Pintura a mano_negro.png" align="right" alt="ArteDigital" />
    <br><br><br><br>
    <p id="AP">Las imágenes en el arte digital pueden ser generadas directamente por ordenador (como las imágenes de arte fractal y el arte algorítmico) o bien tomadas de otras fuentes, como una fotografía escaneada o una imagen dibujada con un software de gráficos vectoriales usando un ratón o tableta gráfica.</p>
    <br><br><br><br>

    <img class="imgAP" src="../assets/img/Pinturas_en_azul.jpg" align="left" alt="ArteDigital" />
    <br><br><br>
    <p id="AP"> Aunque técnicamente el término arte digital puede ser aplicado al arte hecho mediante el uso de otros medios o procesos y posteriormente escaneado, suele reservarse para el arte que no ha sido simplemente modificado por un proceso de computación (como un programa de ordenador, microcontrolador o cualquier sistema electrónico capaz de interpretar una imagen digitalizada); los datos de texto, las grabaciones originales de audio y video digitalizados no suelen considerarse arte digital en sí mismos, aunque pueden ser parte de un proyecto más grande de arte digital.</p>
    <br><br><br><br>

    <img class="imgAP" src="../assets/img/uno.jpg" align="right" alt="ArteDigital" />
    <br><br><br><br>
    <p id="AP">El arte pop y toda su controversial estética y postura ante la realidad, además, suponía una reacción
      frente a los cánones de las bellas artes tradicionales, del mismo modo en que la música pop constituyó en su
      momento un gesto de ruptura a los preceptos tradicionales de la música.</p>
    </div>
  </main>
  <br><br><br><br><br><br><br><br>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
    <script src="../script/main.js"></script>

</body>

</html>