<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Arts</title>
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <link rel="stylesheet" href="../css/formularios.css">
</head>

<body>
  <header class="header">
    <div class="encabezado">
      <a href="./index.html"><img class="logo" src="../assets/logo-ARTS.png" alt="logo"></a>
      <h1 class="title">Digital Arts</h1>
    </div><br><br>
    <nav class="menu">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>

      </ul>
    </nav>
    <div class="burbujas">
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
    </div>
  </header>
  <br><br>
  <hr><br><br>
  <main>
    <br><br><br><br>
    <section class="formularios">
      <h2>Información de Pago</h2>
      <br><br>
      <form id="formPago">
        <h3>Informacion Personal:</h3>
        <div class="personData">
          <label for="inputNames">Nombre y Apellidos:</label>
          <input type="text" class="form" id="inputNames" placeholder="Nombre y Apellidos" required><br>
          <label for="inputMail">correo electronico:</label>
          <input type="email" class="form" id="inputMail" placeholder="email" required>
          <div class="selectDoc">
            <label for="documentId">Documento de identidad</label>
            <select id="documentId" class="form" required>
              <option selected>Selecciona</option>
              <option>cedula de ciudadania</option>
              <option>tarjeta de identidad</option>
              <option>pasaporte</option>
            </select>
          </div>
          <label for="identity">N° de identidad</label>
          <input type="number" class="form" id="identity" required>
        </div>
        <div class="cardData">
          <h3>informacion de la tarjeta</h3>
          <label for="cardOp">Banco:</label>
          <select id="cardOp" class="form" required>
            <option selected>Selecciona</option>
            <option>master card</option>
            <option>VISA</option>
            <option>BBVA</option>
            <option>ITAU</option>
          </select><br>
          <label for="nCard">N° de tarjeta</label>
          <input type="number" class="form" id="nCard" required><br>
          <label for="security">N° de seguridad</label>
          <input type="number" class="form" id="security" required>
          <div class="date">
            <h4>fecha de vencimiento:</h4>
            <label for="nMes">mes</label>
            <input type="number" class="form" id="nMes" min="01" max="12" required>
            <label for="nAño">año</label>
            <input type="number" class="form" id="nAño" min="00" max="50" required>
          </div>
        </div>
        <div class="checkPol">
          <input class="formPay" type="checkbox" id="checkPolitica" required>
          <label class="formPay" for="gridCheck">
            Acepto política de datos
          </label>
        </div>
        <button type="submit" id="envDato" class="button">Enviar Datos</button>
      </form>
    </section>
  </main>
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Michellbot"
  agent-id="23b2f19e-7c59-41c9-a01c-28d5bcbcb7ea"
  language-code="en"
></df-messenger>
  <br><br><br><br>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>
<script src="../script/valPago.js"></script>
</body>

</html>