<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <title>Fotorrealismo</title>
</head>

<body>
  <header class="header">
    <div class="encabezado">
      <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
      <h1 class="title">Digital Arts</h1>
    </div>
    <br><br>
    <nav class="menu">
      <ul>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>
      </ul>
    </nav>
  </header>
  <br><br>
  <main>
    <br>
    <hr><br>
    <div>
      <h2 id="AP">FOTORREALISMO</h2>
      <br><br>

      <div class="slider">
            <ul>
              <li><img src="../assets/img/Realismo_Espejo.jpg" alt="Espejo simetrico"></li>
              <li><img src="../assets/img/Realismo_Planeta tierrajpg.jpg" alt="Planeta tierra vista desde el espacio"></li>
              <li><img src="../assets/img/Realismo_New york.jpg" alt="Foto con fondo de nieve"></li>
              <li><img src="../assets/img/Realismo endero_tranquilo.jpg" alt="Sendero con bosque"></li>
            </ul>
          </div>
      
      <p id="AP">El fotorrealismo es el movimiento artístico surgido en Estados Unidos a mediados del siglo XX como respuesta al Expresionismo abstracto y el minimalismo. La principal consigna del fotorrealismo era reproducir de la forma más realista la imagen de una fotografía a través de medios como la pintura o el dibujo, entre otros. Este movimiento se desarrolló a partir del pop art y la popularidad de la cámara instantánea.Es por ello que la pintura se volcó hacia la deformación de las figuras, hasta llegar finalmente a la abstracción. Pese a esto, varios artistas se resistían al arte abstracto, como los realistas, quienes tuvieron influencia hasta la década de 1950, cuando fueron opacados por el expresionismo abstracto.
      </p>
      <br><br><br>
      <img class="Almeja" src="../assets/img/Almeja.jpg" align="left" alt="ArteFotorrealismo" />
      <br><br><br><br>
      <p id="AP">Cuando la fotografía era todavía un arte incipiente, los fotógrafos imitaron los motivos estéticos de la pintura como medio de reivindicación. No obstante, estos trabajos consistían en la mera imitación de otra arte, por lo que la fotografía sólo alcanzo el status de arte al descubrir y explorar sus propias posibilidades. Una vez se extendió el uso de esta tecnología, la pintura realista perdió su propósito, pues los retratos eran más fieles en una foto que a través de pinceladas.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/chess.jpg" align="right" alt="ArtFotorrealismo" />
      <br><br><br><br>
      <p id="AP">En medio de todo lo anterior, el fotorrealismo se originó concretamente en la década de 1960 y 1970. El término fue acuñado por el comerciante de arte estadounidense Louis K. Meisel en 1969, quien en 1970 lo incluyó dentro del catálogo del Museo Whitney. Luego de esta primera denominación, Stuart M. Speiser encargó una gran colección de obras fotorrealistas, para lo que Louis K. Meisel señaló las cinco condiciones para ser un fotorrealista.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Formula_1.jpg" align="left" alt="ArtFotorealismo" />
      <br><br><br><br>
      <p id="AP">Primero, utilizar una cámara capturar una imagen; segundo, trasladar la imagen al lienzo a través de un medio mecánico o semimecánico; tercero, tener la capacidad para crear una obra que parezca fotográfica; cuarto, haber exhibido su obra en 1972; quinto, haber dedicado al menos un lustro al fotorrealismo</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Ojo.png" align="right" alt="ArteFotorrealismo" />
      <br><br><br><br>
      <p id="AP">Actualmente, el fotorrealismo hace parte de las técnicas de modelado por computador. A través de algoritmos y cálculos complejos, los ingenieros e informáticos logran componer espacios e imágenes que parecen tomados por una cámara fotográfica, y que tienen múltiples funciones, principalmente publicitarias y comerciales. Los algoritmos más utilizados para esto son el Raytracing y la Radiosidad.</p>
    </div>
  </main>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>
</body>

</html>