<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Medios para pintar</title>
</head>
<body>
    <header>
        <nav>
            <h1>Digital Arts</h1>
        <nav id="menu">
            <ul>
                <li><a href="./abstracto.html">Arte Abstracto</a></li>
                <li><a href="./artePop.html">Arte Pop</a></li>
                <li><a href="./digital.html">Arte Digital</a></li>
                <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
                <li><a href="./realismo.html">Realismo</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./quienesSomos.html">Quienes Somos</a></li>
                <li><a href="./subasta.html">Subasta</a></li>
            </ul>
        </nav>
        </nav>
    </header>
    <main>
        <h2>Medios o formas para pintar</h2>
        <section>
            <h3>Oleo</h3>
            <p>Al pintar en oleo es facil mezclar colores, pero se dificulta al momento de borrar o corregir los errores,
                por lo que puede ser un medio dificil de dominar
            </p>
        </section>
        <section>
            <h3>Acuarela</h3>
            <p>Al igual que las pinturas en oleo, estas tambien son dificiles de dominar. Estas pinturas
                se diluyen en agua, por lo cual puede rendir mucho, pero una vez este puesta en el lienzo sera 
                complicado corregir los errores.
            </p>
        </section>
        <section>
            <h3>Acrilico</h3>
            <p>Es un metodo para pintar relativamente nuevo, es versatil, se seca rapidamente y puede llegar 
                a ser muy duradero, en caso de que se cometa un error se puede incluso raspar si se actua con rapidez
                o en dado caso tapar con otro color. </p>
        </section>
        <section>
            <h3>Pintura en Spray</h3>
            <p>Esta es una forma moderna de pintar y se asocia con el arte callejero o grafiti.
                
            </p>
        </section>
    </main>
    <footer>

    </footer>
    
</body>
</html>