<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Medios para pintar</title>
</head>
<body>
    <header class="header">
        <div class="encabezado">
          <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
          <h1 class="title">Digital Arts</h1>
        </div>
        <br><br>
        <nav class="menu">
            <ul>
                <li><a href="./abstracto.html">Arte Abstracto</a></li>
                <li><a href="./artePop.html">Arte Pop</a></li>
                <li><a href="./digital.html">Arte Digital</a></li>
                <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
                <li><a href="./realismo.html">Realismo</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./subasta.html">Subasta</a></li>
            </ul>
        </nav>
    </header>
  <br><br>
    <main
     <br><hr><br> 
        <h2>Medios o formas para pintar</h2>
        <section>
            <h3>Oleo</h3>
            <p>Al pintar en oleo es facil mezclar colores, pero se dificulta al momento de borrar o corregir los errores,
                por lo que puede ser un medio dificil de dominar
            </p>
        </section>
        <section>
            <h3>Acuarela</h3>
            <p>Al igual que las pinturas en oleo, estas tambien son dificiles de dominar. Estas pinturas
                se diluyen en agua, por lo cual puede rendir mucho, pero una vez este puesta en el lienzo sera 
                complicado corregir los errores.
            </p>
        </section>
        <section>
            <h3>Acrilico</h3>
            <p>Es un metodo para pintar relativamente nuevo, es versatil, se seca rapidamente y puede llegar 
                a ser muy duradero, en caso de que se cometa un error se puede incluso raspar si se actua con rapidez
                o en dado caso tapar con otro color. </p>
        </section>
        <section>
            <h3>Pintura en Spray</h3>
            <p>Esta es una forma moderna de pintar y se asocia con el arte callejero o grafiti.</p>           
        </section>
    </main>
    <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>
    
</body>
</html>