<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Arts</title>
  <link rel="stylesheet" href="../css/pagVenta.css">
</head>

<body>
  <header class="header">
    <div class="encabezado">
      <a href="./index.html"><img class="logo" src="../assets/logo-ARTS.png" alt="logo"></a>
      <h1 class="title">Digital Arts</h1>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>

      </ul>
    </nav>
  </header>
  <main>
    <div class="picture">
      <img class="art" src="../assets/img/20220904_160618.jpg" alt="art1">
    </div>
    <aside class="venta">
      <div class="precio">
        <p>$10</p>
      </div>
      <div></div>
      <div></div>
    </aside>
  </main>
  <footer class="footer">
    <section>
      <div class="redes">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-sharp fa-solid fa-at"></i></a>
      </div>
    </section>
  </footer>

</body>

</html>