<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comprar gon´s rage</title>
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <link rel="stylesheet" href="../css/pagVenta.css">
</head>

<body>
  <header class="header">
    <div class="encabezado">
      <a href="./index.html"><img class="logo" src="../assets/logo-ARTS.png" alt="logo"></a>
      <h1 class="title">Digital Arts</h1>
    </div><br><br>
    <nav class="menu">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>

      </ul>
    </nav>
  </header>
  <main>
    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/gon_rage.png" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$9</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>gon's rage</h3>
            <h2>Descripción:</h2>
            <p>Arte inspirada en la obra del autor japones Togashi, de nombre "Hunter X Hunter", hecho por el artista
              digital colombiano David R. Avendaño. </p>
          </div>
        </div>
      </section>

    </section>
  </main>
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Michellbot"
  agent-id="23b2f19e-7c59-41c9-a01c-28d5bcbcb7ea"
  language-code="en"
></df-messenger>
  <br><br><br><br>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>

</body>

</html>