<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <title>Realismo</title>
</head>

<body>
  <header>
    <section>
      <div class="ini">
        <a href="./registrar.html" class="entrada">Registrate</a>
        <a href="./inicioSesion.html" class="entrada">Inicio Sesión</a>
      </div>
    </section>
    <div class="encabezado">
      <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
      <h1 class="title">Digital Arts</h1>
    </div>

    <nav class="menu">
      <ul>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>
      </ul>
    </nav>
  </header>
  <br><br>
  <main>
    <br>
    <hr><br>
    <div>
      <h2>Realismo</h2>

      <div class="slider">
        <ul>
          <li><img src="../assets/img/Realismo_Espejo.jpg" alt="Espejo simetrico"></li>
          <li><img src="../assets/img/Realismo_Planeta tierrajpg.jpg" alt="Planeta tierra vista desde el espacio"></li>
          <li><img src="../assets/img/Realismo_New york.jpg" alt="Foto con fondo de nieve"></li>
          <li><img src="../assets/img/Realismo endero_tranquilo.jpg" alt="Sendero con bosque"></li>
        </ul>
      </div>

      <br><br>
      <p id="AP">Las imágenes figurativas realistas son aquellas que representan de manera detallada la apariencia
        externa de los objetos, los lugares o las personas, tratando de imitar sus rasgos, proporciones, colores y
        texturas. Ejemplos de imágenes realizadas en un estilo figurativo realista se pueden encontrar en varias
        culturas del mundo, aunque sobre todo abundan en el arte occidental; por ejemplo, en Grecia y Roma de la Época
        clásica, en el arte europeo de los siglos XV al XIX, principalmente en el Renacimiento y el Neoclasicismo, y en
        el arte mexicano academicista del siglo XIX y principios del XX.
      </p>
      <br><br><br>
      <img class="imgAP" src="../assets/img/Realismo endero_tranquilo.jpg" align="left" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">Esto es lo que se conoce como Modelo RYB de color, ya obsoleto e impreciso. Posteriormente, tras el
        desarrollo del impresionismo en el siglo XIX y con el desarrollo de la teoría ondulatoria de la luz se
        encontraron pistas para determinar con mayor precisión los colores primarios, de tal manera que se encontró que
        ni el azul ni el rojo son colores primarios, puesto que éstos pueden obtenerse de la mezcla de varios tintes,
        siendo los tonos exactos el color cercano al azul cian y el tono cercano al rojo magenta, surgiendo de esta
        manera el modelo de color CMYK.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Realismo_Espejo.jpg" align="right" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">Los colores secundarios son los que se obtienen mezclando a partes iguales los colores primarios, de
        dos en dos.Los colores terciarios se consiguen al mezclar partes iguales de un color primario y un color
        secundario que NO lo contiene y son estos: tierra amarilla (T) con 50% de Amarillo + 25% de Rojo + 25% de Azul,
        tierra roja (T) con 50% de rojo + 25% de Amarillo + 25% de Azul, y tierra azul (T) con 50% de Azul + 25% de
        Amarillo + 25% de Rojo. </p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Realismo_New york.jpg" align="left" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">Los colores tierra son infinitos y se forman mezclando entre sí, en diferentes
        proporciones, los tres colores básicos: rojo, azul y amarillo. Si las proporciones de la mezcla de los tres
        colores fuera exacta obtendríamos el negro. Como las proporciones de mezcla pueden variar enormemente, la
        cantidad de colores tierra (brocen hues) que podemos obtener es muy numerosa.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Realismo_Planeta tierrajpg.jpg" align="right" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">El Realismo se caracterizó por su afán de veracidad, al retratar campesinos o trabajadores; su
        contemporaneidad, al sostener que el único tema válido para el artista era el mundo coetáneo; su compromiso
        social, al abordar temas que hasta entonces se habían ignorado, en estrecha conexión con la literatura y su
        variedad de temas: intimistas, familiares, reuniones al aire libre, paisajes rurales y urbanos</p>
    </div>
  </main>
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Michellbot"
  agent-id="23b2f19e-7c59-41c9-a01c-28d5bcbcb7ea"
  language-code="en"
></df-messenger>
  <br><br><br><br><br><br><br>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>
  <script src="../script/main.js"></script>
</body>

</html>