<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Ralismo</title>
</head>
<body>
    <header>
      <div class="encabezado">
        <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
        <h1 class="title">Digital Arts</h1>
      </div>
        <br><br>        
      <nav class="menu">
            <ul>
                <li><a href="./abstracto.html">Arte Abstracto</a></li>
                <li><a href="./artePop.html">Arte Pop</a></li>
                <li><a href="./digital.html">Arte Digital</a></li>
                <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
                <li><a href="./subasta.html">Subasta</a></li>
            </ul>
        </nav>
    </header>
  <br><br>
    <main>
      <br><hr><br>
        <div>
        <h2>Realismo</h2>
        <p>El realismp es un estilo de arte pictorico que pretende ofrecer al espectador reflejar el mundo real.
            Algunos de los cuadros más famosos del mundo estan pintados en este estilo, dando 
            una escena realista más no es una representancion verdadera.
        </p>
        </div>
    </main>
    <footer class="footer">
    <section>
      <div class="redes">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-sharp fa-solid fa-at"></i></a>
      </div>
    </section>
  </footer>
    
</body>
</html>