<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <title>Realismo</title>
</head>

<body>
  <header>
    <section>
      <div class="ini">
        <a href="./registrar.html" class="entrada">Registrate</a>
        <a href="./inicioSecion.html" class="entrada">Inicio Sesión</a>
      </div>
    </section>
    <div class="encabezado">
      <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
      <h1 class="title">Digital Arts</h1>
    </div>
    
    <nav class="menu">
      <ul>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="./subasta.html">Subasta</a></li>
      </ul>
    </nav>
  </header>
  <br><br>
  <main>
    <br>
    <hr><br>
    <div>
      <h2>Realismo</h2>

      <div class="slider">
        <ul>
          <li><img src="../assets/img/Realismo_Espejo.jpg" alt="Espejo simetrico"></li>
          <li><img src="../assets/img/Realismo_Planeta tierrajpg.jpg" alt="Planeta tierra vista desde el espacio"></li>
          <li><img src="../assets/img/Realismo_New york.jpg" alt="Foto con fondo de nieve"></li>
          <li><img src="../assets/img/Realismo endero_tranquilo.jpg" alt="Sendero con bosque"></li>
        </ul>
      </div>

      <br><br>
      <p id="AP">Arte pop es un movimiento artístico surgido en Reino Unido y Estados Unidos a mediados del siglo XX,
        inspirado en la estética de la vida cotidiana y los bienes de consumo de la época, tales como anuncios
        publicitarios, comic books, objetos culturales «mundanos» y del mundo del cine. El arte pop, como la música pop,
        presenta una forma de ver y tratar el arte, más global y social, no para pocos (elitista), sino para todos
        (popular),al utilizar imágenes populares en oposición a la cultura elitista existente en las Bellas Artes,
        separándolas de su contexto y aislándolas o combinándolas con otras, además de resaltar el aspecto banal o
        kitsch de algún elemento cultural, a menudo a través del uso de la ironía.
      </p>
      <br><br><br>
      <img class="imgAP" src="../assets/img/Realismo endero_tranquilo.jpg" align="left" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">El arte pop es comúnmente interpretado como una reacción a los entonces dominantes ideales del
        Expresionismo abstracto. De cualquier forma, el arte pop también es la continuación de ciertos aspectos del
        expresionismo abstracto, tal como la creencia en las posibilidades de hacer arte, sobre todo en obras de grandes
        proporciones. Del mismo modo, el arte pop era una extensión como un repudio del Dadaísmo.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Realismo_Espejo.jpg" align="right" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">El movimiento urbano que constituye el arte pop, al contrario que el Expresionismo abstracto, pretende
        unir arte y vida mediante el enfriamiento de las emociones. Tiene el propósito de reflejar la superficialidad de
        los elementos de la cultura de masas en sus obras, es decir, toma productos de consumo accesibles para todos y
        los representa. Con esto se destaca la inexpresión y la impersonalidad del objeto, alejándose de cualquier tipo
        de subjetividad del artista.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Realismo_New york.jpg" align="left" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">Por otro lado, la repetición es una característica que abunda en este movimiento ya que en los medios
        de comunicación se usa como método tanto como para crear iconos como para anestesiar a la sociedad sobre
        problemas graves. Por lo tanto, en este punto de la historia del arte, el arte ya no imita la vida, sino que es
        la vida que imita el arte o la imagen.</p>
      <br><br><br><br>

      <img class="imgAP" src="../assets/img/Realismo_Planeta tierrajpg.jpg" align="right" alt="ArteRealismo" />
      <br><br><br><br>
      <p id="AP">El arte pop y toda su controversial estética y postura ante la realidad, además, suponía una reacción
        frente a los cánones de las bellas artes tradicionales, del mismo modo en que la música pop constituyó en su
        momento un gesto de ruptura a los preceptos tradicionales de la música.</p>
    </div>
  </main>
  <br><br><br><br <br><br><br><br>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>
  <script src="../script/main.js"></script>
</body>

</html>