<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/pagVenta.css">
  <link rel="shortcut icon" type="image/ico" href="../assets/logo-ARTS.ico">
  <title>Subasta</title>
</head>

<body>
  <header>
    <section>
      <div class="ini">
        <a href="./registrar.html" class="entrada">Registrate</a>
        <a href="./inicioSesion.html" class="entrada">Inicio Sesión</a>
      </div>
    </section>
    <div class="encabezado">
      <img class="logo" src="../assets/logo-ARTS.png" alt="logo">
      <h1 class="title">Digital Arts</h1>
    </div>
    <br><br>
    <nav class="menu" >
      <ul>
        <li><a href="./abstracto.html">Arte Abstracto</a></li>
        <li><a href="./artePop.html">Arte Pop</a></li>
        <li><a href="./digital.html">Arte Digital</a></li>
        <li><a href="./fotorrealismo.html">Fotorrealismo</a></li>
        <li><a href="./realismo.html">Realismo</a></li>
        <li><a href="./mediosParaPintar.html">Formas de Pintar</a></li>
        <li><a href="../index.html">Home</a></li>
      </ul>
    </nav>
  </header>
  <br><br>
  <main>
    <br>
    <hr><br>
    <div class="div">
            <a href="./formSubasta.html" class="sub"><i class="fas fa-user-astronaut"></i>Subastar pintura</a>
        </div>
    <h2>SUBASTA</h2>

    <h3>Productos a subastar</h3>
                              
    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/20220904_160618.jpg" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>lovers n' bombs</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>
    </section>

    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/doc_plague (1).png" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>purple's plagues</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>

    </section>

    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/bloodborne.png" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>red moonlight</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>

    </section>

    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/Hombre pulpo.jpeg" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>red moonlight</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>

    </section>


    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/Gato_Facheras.jpeg" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>red moonlight</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>

    </section>

    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/control.jpg" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>red moonlight</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>

    </section>

    <section class="content">
      <section class="flexArt">
        <div>
          <img class="art" src="../assets/img/fallenAngel.jpg" alt="art1">
        </div>
        <div class="info">
          <p class="pago">$10</p>
          <a href="./formPay.html"><button class="compra">comprar</button></a>
          <div class="description">
            <h2>Nombre de la Obra:</h2>
            <h3>Fallen Angel</h3>
            <h2>Descripción:</h2>
            <p>Obra inspirada en el personaje de la obra Chainsaw Man y en la relación que tienen Reze y de Denji,
              personajes
              de esta misma obra.Este arte hecho por DaviD R. Avendaño con la tecnica de pintura en acuarela. </p>
          </div>
        </div>
      </section>

    </section>
  </main>
  <br><br><br><br>
  <footer class="footer">
    <div class="contFooter">
      <div class="redes">
        <h4>Autores</h4>
        <ol>
          <li>Carol Morales</li>
          <li>David Avendaño</li>
          <li>Mateo Murcia</li>
          <li>Daniel Leal</li>
          <li>Felipe Forigua</li>
        </ol>
      </div>
      <div class="redes">
        <a href=""><img class="lredes" src="../assets/img/icons8-instagram-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-twitter-80.png"></a>
        <a href=""><img class="lredes" src="../assets/img/icons8-gmail-80.png"></a>
      </div>
    </div>
  </footer>

</body>

</html>