h1{
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-style:oblique;
    text-decoration:underline rgb(204, 130, 238);
    font-weight:bold;
    font-size:50px; 
}

#menu ul li{
    list-style: none;
    margin: 1px;
    padding: 1px; 
    float:left; 
}


#menu a{
    color:black;
    text-decoration: none;
    display:grid;
    padding:10px 15px;
    font-family: monospace;
    font-size: 19px;
}

#menu{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+51,ff7cd8+100;Pink+Gloss+%232 */
background: #fcecfc; /* Old browsers */
background: -moz-linear-gradient(top,  #665d66 0%, #7a6975 50%, #aa8fa1 51%, #d4b1ca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #6b5c6b 0%,#8f7c89 50%,#b696ab 51%,#c5a0ba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #746374 0%,#ac98a6 50%,#a3889a 51%,#caacc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

    width: 100%;
    height: 50px;
    padding-left: 0%;
    padding-right: 0%;
}
#menu a{
    background: #fcecfc; /* Old browsers */
background: -moz-linear-gradient(top,  #665d66 0%, #7a6975 50%, #aa8fa1 51%, #d4b1ca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #6b5c6b 0%,#8f7c89 50%,#b696ab 51%,#c5a0ba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #746374 0%,#ac98a6 50%,#a3889a 51%,#caacc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

}

#menu a:hover{
    color: rgb(62, 62, 172);
    background:rgba(21, 9, 53, 0.5);
    animation: 1s ms 1;
}

@keyframes ms{
    0%{
        opacity: 0;
        transform: scale(1.6);
    }
}